<nav class="navbar">
    <div class="navbar-container">
      <!-- Menu Hamburger (Mobile) -->
      <div class="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
  
      <!-- Logo Section -->
      
  
      <!-- "Become a Client" and "Login" Buttons -->
      <div class="buttons">
        <button class="btn client-btn" (click)="navigateTolistusers()">Liste Des Utilisateurs</button>
        <button class="btn subscribe-btn" (click)="navigateToaddusers()">Ajouter Utilisateur</button>
        <button class="btn login-btn" (click)="navigateTooptimization()">Optimisation</button>
        <button class="btn login-btn" (click)="navigateToprivileges()">Privilége</button>
      </div>
    </div>
  </nav>
  